<div class="fsh-rightPanel wxmp-index" >
    <div class="layui-anim layui-anim-upbit">
        <blockquote class="layui-elem-quote layui-bg-blue" style="border: 0;">
            <p>
                SCAUWx在不断完善中，欢迎提出宝贵的建议。
            </p>
        </blockquote>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="panel panel-default">
                    <div class="panel-heading">环境信息</div>
                    <div class="panel-body" id="index-environment">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>JAVA版本:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>MYSQL版本</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>WEB服务器</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>CPU个数</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机内存总量</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机空闲内存量</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机使用的最大内存量</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="panel panel-default" style="min-height: 386px;">
                    <div class="panel-heading">系统信息</div>
                    <div class="panel-body" id="index-stytem">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>客户端IP：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>服务器IP</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>操作系统</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>用户主目录</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>工作目录</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>系统目录</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md4">
                <div class="panel panel-default" style="min-height: 285px;">
                    <div class="panel-heading">版本信息</div>
                    <div class="panel-body" id="index-version">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>系统支持</td>
                                <td>SCAUWx</td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>2.0.0</td>
                            </tr>
                            <tr>
                                <td>当前版本更新时间</td>
                                <td>2018-06-9</td>
                            </tr>
                            <tr>
                                <td>最新版本</td>
                                <td>2.0.0</td>
                            </tr>
                            <tr>
                                <td>最新版本更新时间</td>
                                <td>2018-06-12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var systemVersion=null;
        var systemUpdateTime=null;
        var systemName=null;
        //获取系统环境信息
        $.ajax({
            url: '/manage/index',
            success: function (result) {
                if (result.success) {
                    renderHtml({
                        targetId: 'index-environment',
                        template: "environment",
                        htmlData: result,
                    });
                    renderHtml({
                        targetId: 'index-stytem',
                        template: "stytem",
                        htmlData: result,
                    });
                    systemName=result.data.systemName;
                    systemVersion=result.data.systemVersion;
                    systemUpdateTime=result.data.systemUpdateTime;
                    checkUpdate();
                }
            }
        });

        function checkUpdate() {
            $.getJSON("https://www.smartwx.info/newVersion?callback=?", function (result) {
                if(systemVersion && result.LAST_SYSTEM_VERSION) {
                    //渲染版本信息
                    result.systemName=systemName;
                    result.systemVersion=systemVersion;
                    result.systemUpdateTime=systemUpdateTime;
                    renderHtml({
                        targetId: 'index-version',
                        template: "version",
                        htmlData: result,
                    });
                    var local = systemVersion.split(".");
                    var last = result.LAST_SYSTEM_VERSION.split(".");
                    if(hasnew(local[0],last[0])){
                        newCallback();
                    }else if(local[0]==last[0]){
                        if(hasnew(local[1],last[1])){
                            newCallback();
                        }else if(local[1]==last[1] && hasnew(local[2],last[2])){
                            newCallback();
                        }
                    }
                }
                function hasnew(a,b) {
                    return parseInt(b)>parseInt(a)
                }
                function newCallback() {
                    $("#index-update").removeClass("hide");
                }
            });
        }
    });
</script>
